.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(218, 209, 194);
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.active {
  text-decoration: underline;
}
