.header {
    width: 100%;
    background-color: rgb(233, 183, 85);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.header > a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
  }

  .header > a:hover {
    text-decoration: underline;
  }