/* src/components/lesson04.module.css */
.lessonContainer {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.forceUsersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 10px;
}